<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的主题和论文列表上传页面</title>
    <link rel="stylesheet" href="../../static/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/layui.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">研究生论文选读系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>
    <div class="row">
        <div class="layui-col-md2 layui-bg-black" style="height: 1000px;width:13.5%">

            <div class="layui-row">
                <i class="layui-icon layui-icon-username layui-col-md-offset3"
                   style="font-size: 100px; color: #F0F0F0;"></i>
            </div>

            <h4 style="text-align: center"> 你好 你是研究生</h4>
            <p style="text-align: center" th:text="${loginUser.getUserId()}"></p>
            <h4 style="text-align: center">欢迎登录</h4>
            <hr class="layui-bg-green">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <!--            <ul class="layui-nav layui-nav-tree" lay-filter="test">-->
            <!--                <li class="layui-nav-item layui-nav-itemed">-->
            <!--                    <a class="" >基础管理</a>-->
            <!--                    <dl class="layui-nav-child" >-->
            <!--                                                <dd><a th:href="@{/showstudentlist(courseName=${weilecoursename.getCourseName()})}">学生管理</a></dd>-->

            <!--                                                <dd><a th:href="@{/showtopiclistBycourseName(courseName=${weilecoursename.getCourseName()})}">选题管理</a></dd>-->
            <!--                                                <dd><a th:href="@{/showteacherinfobycourseName(courseName=${weilecoursename.getCourseName()})}">教师管理</a></dd>-->
            <!--                    </dl>-->
            <!--                </li>-->
            <!--            </ul>-->

        </div>

        <div class="layui-col-md10" style="height: 700px;width:86.5%">
            <!-- 内容主体区域 -->
            <div class="layui-bg-green" style=" font-size: 20px; padding: 15px;">我的主题和论文列表上传页面</div>
            <br> <br>

            <div class="layui-container">
                <div class="page-content-wrap">
                    <div id="mydiv" style="display: none;padding: 10px">
                        <form class="layui-form" action="/insertpaper" method="post">
                            <div class="layui-form-item">
                                <input type="hidden" name="studentId" th:value="${studentId}" autocomplete="off"
                                       class="layui-input">

                                <br>
                                <label class="layui-form-label">论文ID</label>
                                <div class="layui-input-block">
                                    <input type="text" name="paperId" autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <label class="layui-form-label">论文题目</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <label class="layui-form-label">作者</label>
                                <div class="layui-input-block">
                                    <input type="text" name="author" autocomplete="off" class="layui-input">
                                </div>
                                <br>


                                <label class="layui-form-label">出处</label>
                                <div class="layui-input-block">
                                    <input type="text" name="source" autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <label class="layui-form-label">关键词</label>
                                <div class="layui-input-block">
                                    <input type="text" name="keyword" autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <label class="layui-form-label">文件物理位置</label>
                                <div class="layui-input-block">
                                    <input type="text" name="docLocation" autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <div class="layui-inline">
                                    <label class="layui-form-label">上传时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="test1" name="uploadingTime" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <br>
                                <div class="layui-form-item">
                                          <textarea name="abstractText" id="demo" class="layui-hide">
                                          </textarea>
                                </div>

                                <br>

                            </div>
                            <div class="layui-row layui-icon-align-center">
                                <button class="layui-btn layui-col-md-offset6" lay-submit lay-filter="*" type="submit">
                                    立即提交
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class="white-box">
                        <blockquote class="layui-elem-quote">我的主题</blockquote>
                        <table class="layui-table page:true">
                            <colgroup>
                                <col width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col>
                                <col width="100">
                                <col width="130">
                            </colgroup>
                            <thead>
                            <tr>


                                <th style="width: 200px">主题ID</th>
                                <th style="width: 200px">主题名</th>
                                <th style="width: 200px">关键词</th>
                                <th style="width: 200px">创建时间</th>
                                <th style="width: 200px">已选学生人数</th>

                            </tr>
                            </thead>
                            <tr th:each="my:${mytopicandpaper}">

                                <td th:text="${my.getTopicId()}"></td>
                                <td th:text="${my.getTopic()}"></td>
                                <td th:text="${my.getKeyword()}"></td>
                                <td th:text="${my.getCreationTime()}"></td>
                                <td th:text="${my.getStudentNum()}"></td>
                            </tr>


                        </table>
                        <br>
                        <blockquote class="layui-elem-quote">我的论文</blockquote>
                        <table class="layui-table page:true">
                            <colgroup>
                                <col width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col>
                                <col width="100">
                                <col width="130">
                            </colgroup>
                            <thead>
                            <tr>


                                <th style="width: 200px">论文ID</th>
                                <th style="width: 200px">论文题目</th>
                                <th style="width: 200px">作者</th>
                                <th style="width: 200px">出处</th>
                                <th style="width: 200px">关键词</th>
                                <th style="width: 200px">摘要</th>
                                <th style="width: 200px">文件物理位置</th>

                                <th style="width: 200px">上传时间</th>

                            </tr>
                            </thead>
                            <tr th:each="student:${paper}">


                                <td th:text="${student.getPaperId()}"></td>
                                <td th:text="${student.getTitle()}"></td>
                                <td th:text="${student.getAuthor()}"></td>
                                <td th:text="${student.getSource()}"></td>
                                <td th:text="${student.getKeyword()}"></td>
                                <td th:text="${student.getAbstractText()}"></td>
                                <td th:text="${student.getDocLocation()}"></td>

                                <td th:text="${student.getUploadingTime()}"></td>
                            </tr>


                        </table>
                        <button type="button" id="btn2" class="layui-btn layui-btn-molv">上传论文
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


</div>
<script src="/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/layui.js" charset="utf-8"></script>
<script src="../../static/layui.all.js" charset="utf-8"></script>

<script>
    layui.use(['element'], function () {
        var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });

    });
</script>
<script>
    layui.use('layedit', function () {
        var layedit = layui.layedit;

        var index = layedit.build('demo', {
            //hideTool: ['image']
            uploadImage: {
                url: 'json/upload/demoLayEdit.json'
                , type: 'get'
            }
            //,tool: []
            //,height: 100
        });

        getChoose.onclick = function () {
            alert(layedit.getSelection(index));
        };

    });
</script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
            , type: 'date'
        });
    });
</script>
<script type="text/javascript">
    layui.use(['element', 'jquery', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        $("#btn2").click(function () {
            layer.open({
                type: 1,  //类型设置 默认0 1页面层 2ifream
                title: "上传论文",
                skin: 'layui-layer-molv',
                shadeClose: true,
                anim: 4,
                maxmin: true,
                offset: 'auto',
                content: $("#mydiv"),
                area: ['800px', '600px']
            });
        })
    });
</script>
</body>
</html>