<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程主题和选题页面</title>
    <link rel="stylesheet" href="../../static/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/layui.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">研究生论文选读系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>
    <div class="row">
        <div class="layui-col-md2 layui-bg-black" style="height: 700px;width:13.5%">

            <div class="layui-row">
                <i class="layui-icon layui-icon-username layui-col-md-offset3"
                   style="font-size: 100px; color: #F0F0F0;"></i>
            </div>

            <h4 style="text-align: center"> 你好 你是研究生</h4>
            <h4 style="text-align: center">欢迎登录</h4>
            <hr class="layui-bg-green">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="">基础功能</a>
                    <dl class="layui-nav-child">

                        <dd><a th:href="@{/showmytopicandpaper(studentId=${studentId})}"
                               >我的主题</a></dd>

                    </dl>
                </li>
            </ul>

        </div>

        <div class="layui-col-md10" style="height: 700px;width:86.5%">
            <!-- 内容主体区域 -->
            <div class="layui-bg-green" style=" font-size: 20px; padding: 15px;">课程主题和选题</div>
            <br> <br>

            <div class="layui-container">
                <div class="page-content-wrap">

                    <div class="white-box">
                        <table class="layui-table page:true">
                            <colgroup>
                                <col width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col class="hidden-xs" width="100">
                                <col>
                                <col width="100">
                                <col width="130">
                            </colgroup>
                            <thead>
                            <tr>


                                <th style="width: 200px">主题</th>
                                <th style="width: 200px">操作</th>
                                <th style="width: 200px">操作</th>


                            </tr>
                            </thead>
                            <tr th:each="topic:${topic}">
                                <td th:text="${topic.getTopic()}"></td>
                                <!--                            <td><a href="teacherdetailinfo.html" th:href="@{/teacherdetailinfo(teacherId=${teacher.name})}" th:text="${teacher.getName()}"></a></td>-->
                                <!--                                <td><a th:href="@{'/teacherhome?courseName='+${course.getCourseName()}}" th:text="${teacher.getName()}"></a></td>-->
                                <td><a th:href="@{'/showstudentlistandpaperlistBytopicId?topicId='+${topic.getTopicId()}}"
                                       th:text="查看选题学生名单和论文列表"></a></td>
                                <!--                                <td > <a class="layui-btn layui-btn-danger layui-btn-radius layui-col-md-offset8" th:href="@{/deleteteachercourse(teacherId=${teacher.getTeacherId()},courseId=${teacher.getCourseId()})}" >我要读</a></td>-->
                                <td><a class="layui-btn layui-btn-normal layui-btn-radius layui-col-md-offset8" th:href="@{/inserttopic(studentId=${studentId},topicId=${topic.getTopicId()})}">我要读</a>
                                </td>
                            </tr>


                        </table>
                        <br>
                        <div class="layui-row">
                            <!--                            <button class="layui-btn layui-btn-small"><a th:href="@{/teacherpage(start=0)}">首 页</a></button>-->
                            <!--                            &nbsp;&nbsp;&nbsp;<button class="layui-btn layui-btn-small"><a th:href="@{/teacherpage(start=${page.pageNum-1})}">上一页</a></button>-->
                            <!--                            &nbsp;&nbsp;&nbsp;<button class="layui-btn layui-btn-small"><a th:href="@{/teacherpage(start=${page.pageNum+1})}">下一页</a></button>-->
                            <!--                            <button class="layui-btn layui-btn-small"> <a th:href="@{/teacherpage(start=${page.pages})}">末 页</a></button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


</div>
<script src="/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/layui.js" charset="utf-8"></script>
<script src="../../static/layui.all.js" charset="utf-8"></script>

<script>
    layui.use(['element'], function () {
        var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });

    });
</script>

</body>
</html>